In [1]:
# reduce(function,iterableObject)

**Note**: reduce function get 1. and 2. element of object and process them (function), later process result and next element...

In [3]:
from functools import reduce

In [4]:
reduce(lambda x,y : x + y , [12,18,20,10])

60

In [5]:
# 12 + 18 = 30 and 30 + 20  = 50 and 50 + 10 = 60

In [6]:
reduce(lambda x,y : x * y , [1,2,3,4,5])

120

In [7]:
# 1*2 = 2 and 2*3 = 6 and 6*4 = 24 and 24*5 = 120

**Nice Example**

In [8]:
# defined my maximum function in list

In [9]:
def maksimum(x,y):
    if (x > y):
        return x
    else:
        return y

reduce(maksimum, [-2,1,100,35,32])

100

---

In [10]:
def mult(x,y):
    print("x=",x," y=",y)
    return x*y

reduce(mult, range(1, 5))

x= 1  y= 2
x= 2  y= 3
x= 6  y= 4

24