**in**

In [1]:
# if a value in list or tupple or string or none

In [2]:
"a" in "Python Language"

True

In [3]:
"z" in "Python Language"

False

In [4]:
4 in [1,2,3,4,5,6]

True

In [5]:
dict1 = (2,6,7,9,3)

In [6]:
4 in dict1

False

**for**

In [7]:
liste = [1,2,3,4,5]

In [8]:
for i in liste:
    print(i)

1
2
3
4
5

In [9]:
for s in "Python Programming":
    print(s)

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

In [14]:
tup1 = [(1,2),(4,5),(7,8)]

In [15]:
for (i,j) in tup1:
    print(i,j)

1 2
4 5
7 8

**Traverse Dictionary**

In [16]:
dic1 = {"Key1":1,"Key2":2,"Key3":3,"Key4":4}

In [17]:
dic1.keys()

dict_keys(['Key1', 'Key2', 'Key3', 'Key4'])

In [18]:
dic1.values()

dict_values([1, 2, 3, 4])

In [19]:
dic1.items()

dict_items([('Key1', 1), ('Key2', 2), ('Key3', 3), ('Key4', 4)])

In [20]:
for e in dic1:
    print(e)

Key1
Key2
Key3
Key4

In [21]:
for eleman in dic1.keys():
    print(eleman)

Key1
Key2
Key3
Key4

In [22]:
for eleman in dic1.values():
    print(eleman)

1
2
3
4

In [23]:
for (i,j) in dic1.items():
    print("Key name :",i,"Value:",j)

Key name : Key1 Value: 1
Key name : Key2 Value: 2
Key name : Key3 Value: 3
Key name : Key4 Value: 4

---

**while**

In [24]:
i = 0 

while (i < 10):
    print("i : ",i)
    i += 1

i :  0
i :  1
i :  2
i :  3
i :  4
i :  5
i :  6
i :  7
i :  8
i :  9

In [25]:
i = 0 

while (i < 20):
    print(i)
    if (i == 10):
        break
    i +=1

0
1
2
3
4
5
6
7
8
9
10

**range**

In [26]:
# range(startNumber,endNumber) => generate number from starNumber to endNumber

In [27]:
print(*range(1,8))

1 2 3 4 5 6 7

**Note**: range to assign a list

In [28]:
list1 = list(range(1,10))

In [29]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

**Note**: range(startNumber,endNumber,step) => step

In [30]:
list2 = list(range(1,100,5))

In [31]:
list2

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [32]:
for i in range(1,6):
    print(i)

1
2
3
4
5