In [1]:
x = set() # blank set

In [2]:
liste = [1,1,2,2,2,3,4,5,6,6,7]

In [3]:
x = set(liste)

In [4]:
x

{1, 2, 3, 4, 5, 6, 7}

In [5]:
# ignore repeating

**Nice Example**

In [7]:
x = set("Python Programme Language")

In [8]:
x

{' ', 'L', 'P', 'a', 'e', 'g', 'h', 'm', 'n', 'o', 'r', 't', 'u', 'y'}

**Nice Example 2**

In [9]:
x = {"Python","Php","Python"}

In [10]:
x

{'Php', 'Python'}

---

**Access**

In [11]:
# access with key, not use index

In [12]:
x = {1,2,3}

In [14]:
print(2 in x)

True

In [15]:
x.add(4)

In [16]:
x

{1, 2, 3, 4}

In [17]:
x.add(4) # ignore 4

In [18]:
x

{1, 2, 3, 4}

**difference**

In [19]:
s1 = {1,2,3,10,34,100,-2}
s2 = {1,2,23,34,-1}

In [20]:
s1.difference(s2)

{-2, 3, 10, 100}

**difference_update()**

In [21]:
s1.difference_update(s2)

In [22]:
s1 # s1 update with difference

{-2, 3, 10, 100}

**discard**

In [23]:
# remove element from set

In [24]:
s3 = {1,2,3,4,5}

In [25]:
s3.discard(2)

In [26]:
s3

{1, 3, 4, 5}

**intersection**

In [27]:
s1 = {1,2,3,10,34,100,-2}
s2 = {1,2,23,34,-1}

In [28]:
s1.intersection(s2)

{1, 2, 34}

**intersection_update**

In [29]:
s1.intersection_update(s2)

In [30]:
s1 # s1 update with intersection

{1, 2, 34}

**isdisjoint**

In [32]:
# if sets is disjoint, intersection is empty

In [34]:
s1 = {1,2,3,10,34,100,-2}
s2 = {1,2,23,34,-1}
s3 = {30,40,50}

In [35]:
s1.isdisjoint(s2)

False

In [36]:
s1.isdisjoint(s3)

True

**issubset**

In [37]:
# if set is subset?

In [40]:
s4 = {1,2,3,4,5}

In [41]:
s5 = {1,2}

In [42]:
s5.issubset(s4)

True